
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #F2F2F2;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #444444;
}


.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

header h1 {
  font-size: 32px;
  font-weight: bold;
  color: #333333;
}

header #datetime {
  font-size: 16px;
  font-weight: bold;
  color: #16107fbe;
}

/* Set table styles */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

table thead th,
table tbody td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #CCCCCC;
}

table thead th {
  font-weight: bold;
  color: #1d1a1a;
}

table tbody tr:nth-child(even) {
  background-color: #fffdfd;
}

table tbody td:first-child {
  font-weight: bold;
}

